// app global css in SCSS form
.q-drawer {
  background-color: #045ab7;
}

.data-table {
  position: absolute;
  width: 100%;
}

tr:nth-child(even) {
  background-color: #f7eeee;
}

tr:nth-child(odd) {
  background-color: #f7f7f7;
}

.mainlogo {
  padding-top: 11px;
  padding-left: 10px;
}

.q-toolbar-title {
  font-size: 0.5rem !important;
}

.menu-list {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.text-white {
  padding-left: 0px;
}

.q-item-section {
  padding-right: 0px;
}
